{% extends 'main/base.html' %}
{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="full-card">
    <div class="registertion-card" data-aos="fade-up">
        <h2 class="text-center mb-8">Contact Us</h2>

        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <!-- Email -->
            <div class="mb-6">
                <label class="block font-medium mb-1">Email</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>

            <!-- Message -->
            <div class="mb-6">
                <label class="block font-medium mb-1">Message</label>
                {{ form.message }}
                {{ form.message.errors }}
            </div>

            <button type="submit" class="register-btn w-full">Send Message</button>
        </form>
    </div>
</div>
{% endblock %}
